* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --screenLaptop: 1200px;
  --primaryColor: #f27125;
  --secondaryColor: #f73859;
}

html {
  /* 1rem = 10px
        16px = 1.6rem
    */
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  line-height: 2;
}
a {
    text-decoration: none;
}

.container {
    max-width: var(--screenLaptop);
    margin: 0 auto;
}

/* Header */
.header {
  background-color: #fff;
}

.main-header {
  max-width: var(--screenLaptop);
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}

.logo {
  margin-right: 20px;
}

.logo-image {
  width: 200px;
  height: 110px;
  object-fit: cover;
}

.action {
}

.action-btn {
  padding: 12px 20px;
  background-color: var(--primaryColor);
  color: #fff;
  border-radius: 4px;
  font-size: 1.6rem;
}

.action-btn:hover {
  opacity: 0.95;
}

.signIn {
}

.signUp {
  margin: 0 16px;
}

.postNew {
  background-color: var(--secondaryColor);
}

.navbar {
  margin-top: 16px;
  background-color: var(--primaryColor);
}

.list-category {
  max-width: var(--screenLaptop);
  margin: 0 auto;
}

.list-category_item {
  display: inline-block;
  list-style-type: none;
  font-size: 1.4rem;
  transition: all 0.2s ease-in;
}

.list-category_item:hover {
  background-color: var(--secondaryColor);
}

.list-category_item--link {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 40px;
  color: #fff;
  font-weight: 600;
}

/* footer */
.footer{
    margin-top: 40px;
    font-size: 1.4rem;
}
.footer-description{
    text-align: center;
    max-width: var(--screenLaptop);
    margin: 0 auto;
    padding: 40px 70px;
    border: 1px solid #dedede;
    background-color: #fff;
    border-radius: 8px;
}
.footer-statistical{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 12px;
}
.statistical-item{
    display: flex;
    flex-direction: column;
}
.star{
    color: var(--primaryColor);
    margin-bottom: 12px;
}
.footer-information{
    background-color: #fff;
    margin-top: 40px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.footer-information_inner{
    max-width: var(--screenLaptop);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px 0;
}
.about-us{

}
.footer-title{
    font-size: 1.8rem;
    font-weight: 600;
}
.footer-content{
    display: flex;
    flex-direction: column;
}
.footer-content_item{
    color: #000;
}
.footer-content_item:hover {
    color: var(--secondaryColor);
}
.support{

}
.contact{

}
.socials{
    font-size: 3.2rem;
}
.fa-brands{

}
.fa-facebook{

}
.fa-youtube{

}
.payment{
    font-size:2.8rem;
    color: #000;
}
.fa-money-bill-wave{

}
.fa-credit-card{

}
.fa-cc-visa{

}
.footer-company{
    background-color: #fff;
    text-align: center;
    margin-top: 40px;
    padding: 40px 0;
}   

/* Home page */
.clear {
  margin-bottom: 20px;
}
.clear10{
  margin-bottom: 10px;
}
.mr{
  margin-right: 2%;
}
.demo{
  background-color: green;
  min-height: 100px;
}
.menu2{
  color: black;
  border-radius: 5px;
}
.menu2 h2{
font-size: 1.6rem;
font-weight: 600;
}
.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.boxtitle{
  font-weight: 600;
  font-size: 1.6rem;
  color: black;
  padding: 10px;
}.box1{
  color: black;
  padding: 20px;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px ;
  border: 1px #dedede solid;
}
.boxtrai-item {
  border: 1px solid #dedede;
  border-radius: 8px;
  background: #fff;
  padding: 20px;
}
.boxcontent{
  min-height: 200px;
  display: flex;
  flex-direction: column;

}
.boxcontent2{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0 16px;
  background-color: #fff;
  border-top: 2px rgb(251, 75, 27) solid;
  padding: 20px;
}
.boxsp{
  float: left;
  width: 32%;
  min-height: 300px;
  border: 1px rgb(210, 199, 199) solid;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
.boxsp p{
  padding-top: 210px;
}
.boxsp .img{
  padding-top: 20px;
  min-height: 190px;
  text-align: center;
}
.img img{
  height: 170px;
}
.menu2 ul{
  padding: 0px 0px;
  
}
.menu2 ul li{
  display: inline-block;
  list-style-type: none;
  font-size: 1.4rem;
  transition: all 0.25s ease-in;
}
.menu2 ul li a{
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  color: #fff;
 background-color: rgba(242, 113, 37, .85);
  font-weight: 600;
  margin: 0 8px;
}
.menu2 ul li a:hover{
  background-color: var(--secondaryColor);
}
.menudoc ul{
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.menudoc ul li{
  padding: 5px 20px;
  background-color: #fff;
}
.menudoc ul li a{
  color: #666;
  text-decoration: none;
  font-size: 15px;
}
.menudoc ul li a:hover{
  color: rgb(251, 75, 27);
  text-decoration: none;
}
.newstt {
  display: flex;
  align-items: center;
}

.newstt:hover {
  background-color: #f1f1f1;
}

.newstt-body {
  padding: 0 12px;
  line-height: 1.5;
  font-size: 1.4rem;
  color: #000;
}

.newstt-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newstt-title, .content-title {
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.newstt-price {
  display: block;
  margin-top: 12px;
}

.newstt img{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
}
.newstt a{
  color: #666;
  text-decoration: none;
  text-align: center;
}
.newstt a:hover{
  color: #000;
  text-decoration: underline;
}
.content-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--secondaryColor);
}
.content-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-img_link {
  max-width: 240px;
  object-fit: cover;
}

.content-body {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
}
.content-price,
.newstt-price {
  color: #16c784;
  font-weight: 600;
}
.content-address{
}
.content-area{
}
.content-description{
  color: #666;
  font-size: 1.4rem;
}
.content-user {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.content-user_avatar{
}
.content-user_avatar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.content-user_name{
  font-size: 1.6rem;
  color: #666;
  margin-left: 12px;
}

/* Account manage */
.account-navbar{
    background-color: var(--primaryColor);
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .account-navbar--link{
    font-weight: 600;
    font-size: 2rem;
    display: inline-block;

}

.account-navbar_item--link{
  display: flex;
  align-items: center;
  height: 50px;
  color: #fff;
  padding: 0 8px;
}

.account-navbar_list{
  margin-left: 32px;
}

.account-navbar_item{
  display: inline-block;
  list-style-type: none;
  font-size: 1.6rem;
  transition: all 0.2s ease-in;
}

.account-navbar_item:hover {
  background-color: var(--secondaryColor);
}

.account-content {
}

.account-sidebar{
  position: fixed;
  background-color: #f8f9fa; 
  font-size: 1.6rem;
  top: 50px;
  bottom: 0;
  padding: 20px;
  width: 300px;
  overflow-y: auto;
  border-right: 1px solid #e6e6e6;
}

.user-info{
  display: flex;
  align-items: center;
}

.user-avatar{
  display: flex;
  align-items: center;
}

.user-avatar_img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.user-meta{
  font-size: 1.4rem;
  flex: 1;
  margin-left: 12px;
}

.user-meta_name{
  font-size: 1.6rem;
  font-weight: 600;
}

.user-meta_phone-number{

}

.account-sidebar_list{
  margin-top: 20px;
  margin-left: -12px;
  margin-right: -12px;
}

.account-sidebar_item{
  list-style-type: none;
}

.account-sidebar_item--link{
  display: flex;
  align-items: center;
  padding: 4px 12px;
  color: #000;
}

.account-sidebar_item--link:hover {
  background-color: #f1f1f1;
}
.account-sidebar_item--title {
  display: block;
  padding-left: 12px;
}
.account-main{
  margin-left: 300px;
  padding: 20px 0 0 20px;
  background-color: #fff;
  height: calc(100vh - 50px);
}

/* SignIn & SignUp */
.form{
  width: 500px;
  margin: 20px auto;
  padding: 30px 30px 60px 30px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 8px;
  
}
.form-title {
  font-size: 3rem;
}
.form-signUp{

}
.form-content{

}
.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}
.form-group_direction {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  justify-content: space-between;
  margin-top: 10px;
}
.form-label{
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.form-control {
  width: 100%;
  height: 45px;
  border: 0;
  outline: none;
  background-color: rgba(242, 113, 37, .35);
  padding: 0 10px;
  border-radius: 5px;
  font-size: 1.6rem;
}
.btn{

}
.btn-submit{
  width: 100%;
  height: 45px;
  border: 0;
  border-radius: 5px;
  background: var(--primaryColor);
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}
.forgot-link, .signUp-link{
  color: var(--primaryColor)
}
.forgot-link:hover, .signUp-link:hover{
  color: var(--secondaryColor)
}
/* 
input {
  width: 615px;
  height: 55px;
  margin-bottom: 10px;
  border: none;
  background-color: #C9D1FC;
  margin-top: 5px;
  border-radius: 8px;
}

.submit {
  font-size: 25px;
  text-align: center;
  color: white;
  background-color:
      #F27125;
  width: 615px;
  height: 49px;
  left: 396px;
  top: 651px;
  margin-bottom: 40px; 
  margin-top: 35px;
  border-radius: 8px;
}
.submit button{
  background-color: #F27125;
  border: none;
  color: white;
  font-size: 1.5rem;
  padding-top: 10px;
}
.password{
  padding-top: 37px;
}
.quenmk{
  padding-right: 330px;
}
.dangnhap{
  padding-left: 5px;
} */