* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
html {
    /* 1rem = 10px
        16px = 1.6rem
    
    font-size: 62.5%;
} */
/* h1 {
    font-size: 60px;
} */
h1 {
    font-size: 30px;
    padding-bottom: 52px;
}

.login {
    width: 710px;
    height: 600px;
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 40px;
    padding-top: 16px;
    font-size: 20px;
    margin-left: 380px;
}

input {
    width: 615px;
    height: 55px;
    margin-bottom: 10px;
    border: none;
    background-color: #C9D1FC;
    margin-top: 5px;
    border-radius: 8px;
}

.submit {
    font-size: 25px;
    text-align: center;
    color: white;
    background-color:
        #F27125;
    width: 615px;
    height: 49px;
    left: 396px;
    top: 651px;
    margin-bottom: 40px; 
    margin-top: 35px;
    border-radius: 8px;
}
.submit button{
    background-color: #F27125;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding-top: 10px;
}
a{
    font-size: 18px;
    text-decoration: none;
    color:#044EA6;
}
.password{
    padding-top: 37px;
}
.quenmk{
    padding-right: 330px;
}
.dangnhap{
    padding-left: 5px;
}