* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 20px auto;
}
html {
    /* 1rem = 10px
        16px = 1.6rem
    */
    font-size: 62.5%;
}
h1 {
    font-size: 60px;
}
.sanpham {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0 20px;
}
.left{
    margin-top: 20px;
}
.right{
    margin-top: 20px;

}
.menu-be ul li{
    display: inline;
    font-size: 1.5rem;
}
.menu-be ul li a{
    text-decoration: none;
}
.menu-be ul li a:hover{
  color: red;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
   .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 16px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    margin-top: 32px;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .slideshow{
    border: 1px solid #c1BFBF;
    text-align: center;
    background-color: #000000;
    height: 350px;
  }
  .thongtin{
      border: 1px solid #c1BFBF;
      padding-top: 20px;
      padding-left: 20px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
  }
  .chude{
      display: grid;
      grid-template-columns: 10% 90%;
      grid-gap: 10px;
  }
  .chude h2{
      font-size: 2.5rem;
      color: red;
  }
  .diachi{
      margin-top: 20px;
      font-size: 1.6rem;
  }
  .diachi h4{
      margin-top: 5px;
  }
  .diachi h4 a:hover{
    color: red;
  }
  .thongtinlienquan{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      margin-top: 10px;
  }
  .thongtinlienquan span{
      font-size: 2rem;
      font-weight: bold;
      color: rgb(11, 190, 11);
  }
  .thongtinmota{
    font-size: 1.4rem;
    margin-top: 10px;
  }
  .thongtinmota p{
    margin-top: 5px;
  }
  .dacdiem{
    font-size: 1.4rem;
    margin-top: 10px;
  }
  .table-dacdiem {
    font-size: 1.4rem;
    width: 100%;
  }
  .table-dacdiem .name{
    width: 20%;
  }
  .table-dacdiem td{
    padding: 6px;
  }
  .thongtinlienlac{
    font-size: 1.4rem;
    margin-top: 10px;
  }
  .phanhoi{
    height: 50px;
    width: 200px;
    border: 2px solid #F27125;
    font-size: 1.4rem;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phanhoi h2{
    color: #F27125;
  }
  .taikhoan{
    background-color: #F27125;
    width: 100%;
    height: 350px;
    border-radius: 5px;
  }
  .avatar img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  .avatar{
    text-align: center;
    padding-top: 20px;
    font-size: 1.4rem;
  }
  .dienthoai{
    width: 90%;
    height: 40px;
    background-color: greenyellow;
    text-align: center;
    margin-left: 18px;
    font-size: 1.4rem;
    padding-top: 3px;
    margin-top: 20px;
    border-radius: 8px;
  }
.zalo{
    width: 90%;
    height: 40px;
    background-color: #ffffff;
    text-align: center;
    margin-left: 18px;
    font-size: 1.0rem;
    padding-top: 3px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
}
.zalo img{
  width: 20%;
  margin-left: 120px;
}
.zalo h2{
  margin-left: -135px;
  padding-top: 8px;
}
.yeuthich{
  width: 90%;
  height: 40px;
  background-color: #ffffff;
  text-align: center;
  margin-left: 18px;
  font-size: 1.0rem;
  padding-top: 3px;
  margin-top: 10px;
  display: grid;
    border-radius: 8px;
    grid-template-columns: 1fr 1fr;
}
.yeuthich img{
width: 20%;
margin-left: 120px;
}
.yeuthich h2{
margin-left: -135px;
padding-top: 8px;
}
.sanphamlq{
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 10px;
  margin-bottom: 30px;
}
.splienquan{
  margin-top: 30px;
  padding: 0 16px;
  border: 1px solid #c1BFBF;
  border-radius: 8px;
  font-size: 1.4rem;
 
}
.chude2{
  width: 100%;
  height: 30px;
  margin-top: 20px;
}
hr{
  margin: 20px 0;
}
.motasplq a{
  text-decoration: none;
  font-size: 1.8rem;
}
.motasplq a:hover{
  color: red;
}
.giatien{
  display: grid;
  grid-template-columns: 30% 20%  50%;
  margin: 10px 0;
  font-size: 1.4rem;
}
.price{
  color: rgb(11, 190, 11);
  font-size: 1.6rem;
}
.tinmoidang{
  padding: 16px;
  border: 1px solid #c1BFBF;
  margin-top: 20px;
  border-radius: 8px;
}
.chude3{
  width: 100%;
  height: 30px;
  font-size: 1.4rem;
}
.nho{
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 20px;
  font-size: 1.4rem;
}
.nho img{
width: 60%;
}
.motatnb a{
  color: red;
  text-decoration: none;
}
.motatnb h3{
  color: rgb(11, 190, 11);
}
.motatmn a{
  text-decoration: none;
}
.motatmn a:hover{
  color: red;
}
.motatmn h3{
  color: rgb(11, 190, 11);
}
.chude4{
  width: 100%;
  height: 30px;
  font-size: 1.4rem;
}
.khuvuc{
  padding: 16px;
  border: 1px solid #c1BFBF;
  margin-top: 20px;
  border-radius: 8px;
  font-size: 1.4rem;
}
.khuvuc ul{
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.khuvuc ul li{
  padding: 10px 20px;
  background-color: #fff;
}
.khuvuc ul li a{
  color: #666;
  text-decoration: none;
  font-size: 15px;
}
.khuvuc ul li a:hover{
  color: rgb(251, 75, 27);
  text-decoration: none;
}